---
---

@import "palettes";
@import "theme";
@import "mixins";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  color: $white;
  background: $gray-800;
  box-shadow: $shadow;

  & * {
    font-family: $sans;
  }

  .logo_row {
    display: block;
    max-width: 100%;
    height: 50px;
    
    .logo_logotext{
      // @include inline-flex-center;
      display: inline-flex;
      .logo {
        max-width: 100%;
        height: 50px;
      }
      .logo_text {
        margin: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
      }  
    }
    
    .logo_subtext {
      display:block;
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 0px;
      margin-left: 0px;
      font-size: 1rem;
      color: $cyan-500;
      text-align: center;
    }  
    }    


    // .logo_text {
    //   margin: 10px;
    //   font-size: 1.5rem;
    //   font-weight: bold;
    //   text-align: center;
    // }

    // .logo_subtext {
    //   position: relative;
    //   margin-top: 10px;
    //   margin-bottom: 10px;
    //   margin-right: 0px;
    //   margin-left: 0px;
    //   font-size: 1rem;
    //   color: $cyan-500;
    //   text-align: center;
    // }

  .nav_row {
    @include inline-flex-center;
    font-size: 0.9rem;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover .link {
      opacity: 0.25;
    }

    .link:hover {
      opacity: 1;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  // screen width where nav bar wraps to under logo
  // adjust based on length of your lab title and # of nav links
  @media (max-width: 900px) {
    align-content: center;
    .logo_row,
    .nav_row {
      width: 100%;
    }
  }

  // screen width where logo and nav bar go from horizontal to vertical
  // adjust based on length of your lab title and # of nav links
  @media (max-width: 600px) {
    .logo_row {
      flex-direction: column;
    }

    .nav_row {
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .link {
        width: 100%;
      }
    }
  }
}
