---
---

@import "palettes";
@import "theme";
@import "mixins";

.work-excerpt {
  margin: 20px 0;
  @include trim-v-margins;

  & > *:first-child {
    font-weight: $semi-bold;
  }

  & > div {
    text-align: left;
  }

  .project_text {
    margin: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }
}
