<p class="project-nav">
  <span>
    {%- if include.project.previous -%}
      <i class="fas fa-angle-left"></i> Previous project<br />
      <a href="{{ include.project.previous.url | relative_url }}">
        {{- include.project.previous.title -}}
      </a>
    {%- endif -%}
  </span>
  <span>
    {%- if include.project.next -%}
      Next project <i class="fas fa-angle-right"></i><br />
      <a href="{{ include.project.next.url | relative_url }}">
        {{- include.project.next.title -}}
      </a>
    {%- endif -%}
  </span>
</p>
