{% assign emptyarray = "" | split: "," %}
{% assign id = include.slug | default: include.id | default: "" %}
{% assign works = site.works | default: emptyarray %}

{% assign work = nil %}
{% for p in works %}
  {% if p.slug == id %}
    {% assign work = p %}
  {% endif %}
{% endfor %}

<div class="work-excerpt">
  {% assign url = work.url | default: "" %}
  {% assign title = work.title | default: "" %}
  <p>
    <a href="{{ url | relative_url }}">{{ work.displaytitle }}</a>
  </p>

  {% assign author = work.author | default: "" %}
  {% assign tags = work.tags | default: emptyarray %}
  {% assign date = work.date | default: "" %}
  {%
    include work-info.html
    author=author
    tags=tags
    date=date
  %}

  {% assign content = work.content | default: "" %}
  <p>
    {{ content | strip_html | truncate: 500 }}
  </p>
  <hr>
</div>
